@font-face {
    font-family: 'retro';
    src: url('fonts/Minercraftory.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(4, 97, 4);
    color: rgb(10, 204, 20);
    font-family: 'retro', Times, serif;
    font-weight: normal;
    text-align: center;
}

textarea, input {
    background-color: rgb(1, 20, 8);
    color: rgb(10, 204, 20);
    font-family: 'retro';
    src: url('fonts/Minercraftory.ttf');
    font-weight: normal;
    font-style: normal;
}

button {
    width: 30px;
    border: 1px;
}
